.crossword-page-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossword-container {
    height: 60%;
    width: 20%;
}